/* <!-- HTML !-->
<button class="button-9" role="button">Button 9</button> */

/* CSS */
button {
  backface-visibility: hidden;
  background-color: #2f4cf3;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 16px;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 12px;

  /* margin: 25px; */

  padding: 0 25px;
  text-align: center;

  width: 50%;
}

button:disabled {
  cursor: default;
}

button:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
.button {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.error {
  color: red;
  font-weight: 400;
  font-size: 0.75rem;
}

.form_field_data {
  width: 50%;
  /* border: 1px solid black; */
}
.form_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  margin: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 97vw;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-transform: capitalize;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: #04aa6d;
  color: white;
}
